<div class="container-fluid">
    <div class="row mx-3 p-3" style="border-bottom: 1px solid #CCC">
        <div class="col-sm-12 col-md-10">
            <h3 class="text-uppercase">Setup Subjects</h3>
            <p class="text-muted" style="text-align: justify;">
                In the Setup Subjects section, the first step is to create subjects that will be used in the curriculum creation process. The default status of an added subject is inactive until it is reviewed and approved by anyone who is authorized to review or approve the subject.
                All of the approved subjects are the only subjects that can be used in the curriculum creation process.
            </p>
        </div>
        <div class="col-sm-12 col-md-2 text-end">            
            <a href="" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addsubjectsModal"> 
                <span class="material-icons align-bottom">
                add
                </span>
            </a>
            <a href="#" class="btn btn-danger"> 
                <span class="material-icons align-bottom">
                delete
                </span>
            </a>
        </div>
    </div>
    <div class="row mx-3 mt-3">
        <div class="col-sm-12 col-md-12">
            <div class="table-responsive" style="overflow-x:auto;">
                <table class="table table-bordered table-hover table-striped" style="min-width: 720px;">
                    <thead class="text-white" style="background-color:#238C2A;font-size: 0.8rem;">
                        <tr>
                            <th style="width: 60%;">Subject</th>
                            <th style="width: 20%;" colspan="3" class="text-center">Units</th>
                            <th style="width: 20%;" class="text-center">Actions</th>
                        </tr>
                    </thead>
                    <tbody id="table-content">
                        <% if ( data ) { %>
                            <% data.forEach( (item, key) => { %>
                                <tr>
                                    <td>
                                        <div><%= item.code %> - <%= item.title %></div>
                                        <div class="text-muted px-2 pb-2 border-bottom" style="font-size: 0.8rem;"><%= item.description %></div>
                                        <div>
                                            <div>
                                                <% if ( item.status == 0 ) { %>
                                                <span class="badge bg-danger">Inactive</span>
                                                <% } %>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="p-0 m-0">
                                        <div class="text-center p-0 m-0 px-2 border-bottom">Lec</div>
                                        <div class="text-center"><%= item.unitslec %></div>
                                    </td>
                                    <td class="p-0 m-0">
                                        <div class="text-center p-0 m-0 px-2 border-bottom">Lab</div>
                                        <div class="text-center"><%= item.unitslab %></div>
                                    </td>
                                    <td class="p-0 m-0">    
                                        <div class="text-center p-0 m-0 px-2 border-bottom">Total</div>
                                        <div class="text-center"><%= parseInt(item.unitslec) + parseInt(item.unitslab) %></div>
                                    </td>
                                    <td class="text-center">
                                        <!-- If the user is authorized for reviewed-->
                                        <a href="#" class="btn btn-secondary"
                                            data-bs-toggle="tooltip" data-bs-placement="top" title="Edit the Subject"
                                            >
                                            <span class="material-icons align-middle">edit</span>
                                        </a>
                                        <a href="#" class="btn btn-danger"
                                            data-bs-toggle="tooltip" data-bs-placement="top" title="Delete the Subject"
                                            >
                                            <span class="material-icons align-middle">delete</span>
                                        </a>
                                        <a href="#" class="btn btn-warning"
                                            data-bs-toggle="tooltip" data-bs-placement="top" title="Review the Subject"
                                            >
                                            <span class="material-icons align-middle">rate_review</span>
                                        </a>
                                    </td>
                                </tr>
                            <% }) %>
                        <% } else { %>
                            <tr>
                                <td colspan="3" class="text-center text-muted" style="font-size: 0.8rem;">There are no subjects available in the list at the moment.</td>
                            </tr>
                        <% } %>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="3">
                                
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>



<div class="position-fixed bottom-0 start-0 p-3" style="z-index: 9999">
    <div id="liveToast" class="toast hide border border-success" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header bg-success text-white">
            <strong class="me-auto">New Course Added!</strong>           
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            The record was successfully updated with a new course.
        </div>
    </div>
</div>

<%- include('partials/modals/subjects/_addsubject.ejs') %>

<script type="module" src="/js/subjects/main.js"></script>